head
  css:
    body {
      font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, sans-serif;
      font-size: 2.7em;
      margin: 0;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
      width: 2000px;
    }

    div {
      border: 48px solid black;
      height: 1384px;
      padding-top: 60px;
    }

    h2, h3 {
      font-weight: lighter;
    }

    img {
      height: auto;
      width: 59%;
    }

    p {
      font-weight: lighter;
      padding-bottom: 20px;
      padding-top: 20px;
    }

body
  div
    p This document certifies that
    h2 #{@name}
    p has completed the
    h2 Academic Integrity Course
    p on
    h3 #{(@timestamp || Time.now).strftime("%B %e, %Y")}
    img [src = '../public/logo.png']
