[Unit]
Description=Certificate Generator
Wants=redis.service
After=redis.service
Wants=redis_6379.service
After=redis_6379.service

[Service]
User=apache
WorkingDirectory=/var/www/html/cu-online/certificate/current
ExecStart=/bin/bash -lc 'bundle exec rake resque:work QUEUE=certificate'
Restart=always
KillMode=process

[Install]
WantedBy=default.target
